@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
$main_font:'Roboto', sans-serif;
$black:#000000;
$green_main:#99FF91;
$white:#fff;


@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #CACACA;
}
header{
  padding-top: 28px;
  .d-flex{
    display: flex;
    justify-content: end;
  }
  ul{
    list-style: none;
    display: flex;
    li{
      margin-left: 12px;
      &:last-of-type{
        a{
          background-color: $green_main;
        }
      }
      &:hover, &.active{
        a{
          background-color: $black;
          color: $white;
        }
      }
      a{
        font-family: $main_font;
        font-weight: bold;
        font-size: 23px;
        line-height: 24px;
        display: inline-block;
        padding: 8px 12px;
        border: 1px solid $black;
        border-radius: 100px;
        color: $black;
        text-decoration: none;
        transition: 0,3s;
      }
    }
  }
}
.container{
  max-width: 1440px;
  padding: 0 32px;
  margin: auto;
}



